{% extends 'layout.html' %}

{% block content %}
    <h1>Acerca de</h1>
    <p>Hola! Soy Román y este es un proyecto que hice con Flask y consumiendo la API del clima de <a href="https://openweathermap.org/" target="_blank">OpenWeather</a>. 
        
        <br>
        Te invito a visitar mi <a href="https://www.linkedin.com/in/marcos-roman-lupiano/" target="_blank">Linkedin</a>, mi <a href="https://github.com/RomanLupiano" target="_blank">Github</a> 
        y mi <a href="https://romanlupiano.github.io/" target="_blank">Portfolio</a> 
        para saber más sobre mí y mis otros proyectos.</p>
    
{% endblock %}