{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
  <form action="/" method="POST">
      <label for="city"><h1>Ingresa el nombre de tu ciudad para buscar los datos del clima</h1></label>
      <input type="text" class="form-control" id="city" name="city" placeholder="Nombre de tu ciudad">
      <button class="btn btn-primary mt-2">Buscar</button>
  </form>
  <button class="btn btn-primary my-2" onclick="getLocation()" >Buscar mi ciudad automáticamente</button>

  {% if temperature %}
  {{test}}
    <div class="row">
      <div class="col">
        <h1>¿Debería usar paraguas?</h1>
        <h2>{{answer_umbrella}}</h2>
        <h2>{{fir_hour_pop}}</h2>
        <h2>{{sec_hour_pop}}</h2>
        <h2>{{thi_hour_pop}}</h2>
      </div>
      <div class="col">
        <h1>¿Debería usar abrigo?</h1>
        <h2>{{answer_coat}}</h2>
      </div>
    </div>

    <h2>Temperature: {{temperature}}</h2>
    <h2>Feels like: {{feels_like}}</h2>
    <h2>Pressure: {{pressure}}</h2>
    <h2>Humidity: {{humidity}}</h2>
    <h2>Clouds: {{clouds}}</h2>
    <h2>Wind Speed: {{wind_speed}}</h2>
    <h2>Chance of rain in this hour: {{hourly_pop}}</h2>
    <h2>Chance of rain in this day: {{daily_pop}}</h2>
  {% endif %}
</div>
    
<script>
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}
function showPosition(position) {
    window.location.href = "/find-city/" + position.coords.latitude + "/" + position.coords.longitude + "/";
}
</script>

{% endblock %}